@import "partials/common";
@import "partials/hover-effect";
@import "partials/button";

.grid {
}

.grid::after {
  content: "";
  clear: both;
  display: table;
}
.grid-item {
  width: 100%;
}

.exhibitions-card {
  height: 100%;
  position: relative;
  border: none;
}

.card__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.exhibitions-card:before {
  content: "";
  background: #000;
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  z-index: -10;
}

.card:after {
  content: "";
  background: url("../img/shadow.png") no-repeat;
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.card__info {
  position: absolute;
  bottom: 3vh;
}

.card__name {
  font-family: $main-font-caption-bold;
  padding: 5px 0 0 70px;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #fff;
}

.card__date {
  font-family: $main-font-caption-bold;
  color: #fff;
  padding: 0 0 20px 70px;
}

//
//.col-lg-12 {
//  padding: 0;
//}
