@import "reset";
@import "../node_modules/bourbon/app/assets/stylesheets/bourbon"; // http://bourbon.io/
@import "../node_modules/bootstrap/scss/bootstrap";

@import "partials/variables"; // colors, font etc...

@import "partials/layout"; // responsive grid and media queries

//@import "../node_modules/@glidejs/glide/dist/css/glide.core.min.css";
@import "menuLink";
@import "slider";
@import "painter";
@import "font";
@import "button";
@import "ticket";

body {
  font-family: "PTRootUIWebRegular", Arial, sans-serif;
  font-size: 30px;
  color: $grey-1;
}

.navbar {
  padding: 40px 50px 10px;
}

.navbar-brand img {
  width: 280px;
}

.navbar-collapse {
  padding-left: 152px;
}

.nav-item {
  padding: 0 25px;
}

.text-s {
  font-size: 20px;
}

.text-m {
  font-size: 30px;
}

.text-l {
  font-size: 40px;
}

.text-xxl {
  font-size: 100px;
}

.text-bold {
  font-weight: bold;
}

.jumbotron {
  position: relative;
  --height: calc(100vh - 150px);
  height: var(--height);
  padding-top: calc(var(--height) * 0.18);
  padding-bottom: calc(var(--height) * 0.115);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
}

.main-heading-content {
  position: relative;
  height: 100%;
  z-index: 10;
}

.main-heading {
  font-family: "Stapel_CM", Arial, sans-serif;
  font-size: 216px;
  color: $red;
  text-transform: uppercase;
  line-height: 200px;
  margin-top: 10px;
}

.main-slide {
  max-width: 45%;
  max-height: 100%;
  position: absolute;
  top: 0;
  right: 5%;
  z-index: 0;

  &-1 {
    background: url("../img/main-slide-1.jpg") 0 100px no-repeat;
    object-fit: cover;
  }

  &-arrow-next {
    padding: 200px 100px;
    position: absolute;
    left: calc(89% - 100px);
    top: calc(50% - 200px);
    opacity: 0;
    transition: opacity 0.2s linear, transform 0.4s linear;

    &:hover {
      opacity: 1;
      transform: translateX(20px);
    }
  }
}

.button-wrap-center {
  display: flex;
  justify-content: center;
}

.heading-row {
  margin: 100px 0 0;
}

.heading-red {
  text-transform: uppercase;
  font-family: "Stapel_CM", Arial, sans-serif;
  font-size: 100px;
  color: $red;
  padding: 100px 80px;
}

.arrow-link {
  color: $grey-1;
  & img {
    margin-left: 65px;
  }
  &:hover {
    color: $grey-3;
    text-decoration: none;
  }
}

.about {

}
