@import "reset";
@import "../node_modules/bourbon/app/assets/stylesheets/bourbon"; // http://bourbon.io/
@import "../node_modules/bootstrap/scss/bootstrap";

@import "partials/variables"; // colors, font etc...

@import "partials/layout"; // responsive grid and media queries

@import "menuLink";
@import "slider";
@import "painter";
@import "font";
@import "button";
@import "ticket";

body {
  font-family: "PTRootUIWebRegular", Arial, sans-serif;
  font-size: 30px;
  color: $grey-1;
  margin-top: 125px;
}

input {
  font-family: "PTRootUIWebRegular", Arial, sans-serif;
  font-size: 30px;
  color: $grey-1;
  border-color: $grey-1;
  border-style: solid;
  &:active {
    border-color: $grey-0;
  }
}

hr {
  width: 75%;
  border-color: $grey-3;
  margin: 125px auto;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #ffffff;
  z-index: 1000;
}

.navbar {
  padding: 40px 50px 10px;
}

.navbar-brand img {
  width: 280px;
}

.navbar-collapse {
  padding-left: 152px;
}

.nav-item {
  padding: 0 25px;
}

.text-s {
  font-size: 20px;
}

.text-m {
  font-size: 30px;
}

.text-l {
  font-size: 40px;
}

.text-xl {
  font-size: 60px;
}

.text-xxl {
  font-size: 100px;
}

.text-bold {
  font-weight: bold;
}

.jumbotron {
  position: relative;
  --height: calc(100vh - 150px);
  height: var(--height);
  padding-top: calc(var(--height) * 0.18);
  padding-bottom: calc(var(--height) * 0.115);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
}

.main-heading-content {
  position: relative;
  height: 100%;
  z-index: 10;
}

.main-heading {
  font-family: "Stapel_CM", Arial, sans-serif;
  font-size: 216px;
  color: $red;
  text-transform: uppercase;
  line-height: 200px;
  margin-top: 10px;
}

.main-slide {
  max-width: 45%;
  max-height: 100%;
  position: absolute;
  top: 0;
  right: 5%;
  z-index: 0;

  &-1 {
    background: url("../img/main-slide-1.jpg") 0 100px no-repeat;
    object-fit: cover;
  }

  &-arrow-next {
    padding: 200px 100px;
    position: absolute;
    left: calc(89% - 100px);
    top: calc(50% - 200px);
    opacity: 0;
    transition: opacity 0.2s linear, transform 0.4s linear;

    &:hover {
      opacity: 1;
      transform: translateX(20px);
    }
  }
}

.button-wrap-center {
  display: flex;
  justify-content: center;
}

.heading-row {
  margin: 100px 0 0;
}

.heading-red {
  text-transform: uppercase;
  font-family: "Stapel_CM", Arial, sans-serif;
  font-size: 100px;
  color: $red;
  padding: 100px 80px;
  margin: 0;
}

.arrow-link {
  color: $grey-1;
  &--icon {
    width: 102px;
    height: 23.828px;
    margin-left: 45px;
    transition: margin-left 0.4s linear;
    & path {
      fill: none;
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
  &:hover {
    color: $grey-3;
    text-decoration: none;
    & .arrow-link--icon {
      margin-left: 65px;
    }
  }
}

.about {
  margin-bottom: 160px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  &-input-wrapper {
    position: relative;
    max-width: 650px;
    width: 50%;
  }
  &-title {
    margin-bottom: 20px;
  }
  &-email {
    width: 100%;
    padding: 12px 24px;
  }
  &-submit {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    color: $grey-1;
    transition: color 0.2s linear;
    &:hover {
      color: $grey-3;
    }
  }
}

footer {
  position: relative;
  padding: 50px 0;
  & .footer {
    &-contacts {
      padding: 40px 35px 10px;

      & .navbar-brand {
        margin-bottom: 150px;
      }
      &-phone {
        font-weight: bold;
        margin: 50px 0;
      }
      &-social {
        display: flex;
        & a {
          padding: 0 6px;
        }
      }
    }
    &-nav {
      margin-top: 250px;
    }
  }

  & .painter {
    position: absolute;
    top: 0;
    right: 0;
    height: 630px;
    width: 50%;
    background: #88d4e3;
  }
}
