// colors

$grey-0: #4a4a4a;
$grey-1: #707070;
$grey-2: #7f7f7f;
$grey-3: #a8a8a8;
$grey-4: #f1f1f1;
$red: #ff0034;
$blue-1: #7EB0BC;
$blue-2: #A8D0DB;


// font

$main-font: "PTRootUIWebRegular", Arial, sans-serif;
$main-font-bold: "PTSansWebBold", Arial, sans-serif;
$main-font-medium: "PTRootUIWebMedium", Arial, sans-serif;
$main-font-caption-bold: "PTSansWebCaptionBold", Arial, sans-serif;
$primary-font: sans-serif;

// header size

$header-height-S: 50px;
$header-height-L: 80px;

// Navigation size

$nav-width-S: 260px;

// Search size

$search-height-S: 50px;
$search-height-L: 120px;

// z-index

$below-content: 1;
$content: 2;
$above-content: 3;
