@import "variables";

.button-main {
  position: relative;
  min-width: 200px;
  background-color: $blue-1;
  border-color: $blue-1;
  color: #fff;
  padding: 16px 24px;
  border-style: solid;
  transition: color 0.1s linear, background-color 0.1s linear,
    border-color 0.1s linear;

  &:hover {
    background-color: transparent;
    color: $blue-1;
  }
  &:focus {
    background-color: transparent;
    outline: none;
    color: $blue-2;
    border-color: $blue-2;
  }
}
