@import "reset";
@import "../../node_modules/bourbon/app/assets/stylesheets/bourbon"; // http://bourbon.io/
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "variables"; // colors, font etc...
@import "layout"; // responsive grid and media queries
@import "menuLink";
@import "font";
@import "painter";
@import "button.scss";

html {
  font-size: 30px;
}

body {
  font-family: $main-font;
  color: $grey-1;
  margin-top: 125px;
}

input,
span,
button,
select,
optgroup,
textarea {
  font-size: 1rem;
}

input {
  font-family: $main-font;
  font-size: 30px;
  color: $grey-1;
  border-color: $grey-1;
  border-style: solid;
  transition: border-color 0.1s linear;
  &::placeholder {
    color: currentColor;
    opacity: 0.8;
  }
  &:hover {
    border-color: $grey-1;
  }
  &:active {
    border-color: $grey-0;
  }
  &:focus {
    outline: none;
  }
}

a {
  color: $blue-1;
}

hr {
  width: 75%;
  border-color: $grey-3;
  margin: 125px auto;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #ffffff;
  z-index: 1000;
}

.navbar {
  padding: 40px 50px 10px;
  &-brand img {
    width: 280px;
  }
  &-collapse {
    padding-left: 152px;
  }
}

.nav-item {
  padding: 0 25px;
}

.text-xs {
  font-size: 0.4rem;
}

.text-s {
  font-size: 0.66666666rem;
}

.text-m {
  font-size: 1rem;
}

.text-l {
  font-size: 1.3333333333rem;
}

.text-xl {
  font-size: 2rem;
}

.text-xxl {
  font-size: 3.33333333333rem;
}

.text-bold {
  font-weight: bold;
}
.text-medium {
  font-weight: 500;
}

.nav-link {
  color: $grey-1 !important;
  &-arrow .menu__link-inner:after {
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    margin-left: 0.35em;
    margin-bottom: 0.12em;
    background: url("../img/arrow-up-right.svg") no-repeat;
  }
  &:hover {
    color: $grey-0 !important;
    &.nav-link-arrow .menu__link-inner:after {
      opacity: 0.8;
    }
  }
}

.button-wrap-center {
  display: flex;
  justify-content: center;
}

.heading-row {
  margin: 100px 0 0;
}

.heading-red {
  text-transform: uppercase;
  font-family: "Stapel_CM", Arial, sans-serif;
  font-size: 3.3333333rem;
  color: $red;
  padding: 3.3333333rem 2.6666666rem;
  margin: 0;
}

.arrow-link {
  color: $grey-1;
  &--icon {
    width: 102px;
    height: 23.828px;
    margin-left: 45px;
    transition: margin-left 0.4s linear;
    & path {
      fill: none;
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
  &:hover {
    color: $grey-3;
    text-decoration: none;
    & .arrow-link--icon {
      margin-left: 65px;
    }
  }
}

.about {
  margin-bottom: 160px;
}

.subscribe {
  margin: 120px 0 240px;
  &-input-wrapper {
    display: flex;
  }
  &-title {
    margin-bottom: 60px;
    font-family: $main-font-medium;
    color: $blue-1;
  }
  &-email {
    color: $blue-1;
    width: 100%;
    padding: 12px 24px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: $blue-1;
    flex: 1;
  }
  &-submit {
  }
}

footer {
  position: relative;
  padding: 50px 0;
  height: 700px;
  overflow: hidden;

  & .navbar-brand {
    margin-bottom: 40px;
    padding: 0 35px 10px;
  }

  & .footer {
    margin-top: 40px;
    &-contact {
      position: relative;
      padding-left: 50px;
      margin-bottom: 30px;
      & img {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
    &-social {
      display: flex;
      & a {
        padding: 0 6px;
        opacity: 0.7;
        transition: opacity 0.1s linear, transform 0.1s linear;
        &:hover {
          opacity: 1;
          transform: scale(1.05);
        }
      }
    }
    &-nav {
      & .menu__link-inner {
        font-size: 1.333333rem;
        font-family: $main-font-medium;
      }
    }
  }

  & .painter {
    position: absolute;
    top: 50px;
    right: 0;
    height: 600px;

    & .cls-1 {
      fill: #ff89a5;
    }
    & .cls-6 {
      fill: #ffaec0;
    }
    & .cls-16 {
      fill: #ffa8bc;
    }
    & .cls-2 {
      fill: #cee6ea;
    }
    & .cls-12 {
      fill: #a8d0db;
    }
    & .cls-3 {
      fill: #7eb0bc;
    }
    & .cls-11 {
      fill: #3d8184;
    }
    & .cls-14 {
      fill: #0b3354;
    }
    & .cls-15 {
      fill: #386fa5;
    }
    & .cls-5 {
      fill: #d1d1d1;
    }
    & .cls-8 {
      fill: #f1f1f1;
    }
    & .cls-4 {
      fill: url(#linear-gradient);
    }
    & .cls-18 {
      fill: url(#linear-gradient-3);
    }
    & .cls-10 {
      fill: #353535;
    }
    & .cls-19 {
      fill: #febd6a;
    }

    &-inner {
      position: relative;
      margin-right: 8vw;
      min-width: 790px;
    }
    &-body {
      position: absolute;
      top: 0;
      left: 0;
      height: 600px;
    }
    &-head {
      width: 115px;
      position: absolute;
      top: 0;
      left: 438px;
      transform-origin: center;
      animation: headPainter 6s linear infinite;
    }
    &-hand {
      width: 235px;
      position: absolute;
      top: 110px;
      left: 323px;
      animation: handPainter 5s linear infinite;
    }
    &-bird {
      width: 66px;
      position: absolute;
      top: 58px;
      left: 234px;
      animation: birdPainter 6s linear infinite;
    }
    &-cloud-1 {
      width: 90px;
      position: absolute;
      top: 0;
      left: 900px;
      animation: cloudPainter 35s linear infinite;
      & path {
        transform: scaleX(-1) translate(-100%);
      }
    }
    &-cloud-2 {
      width: 70px;
      position: absolute;
      top: 30px;
      left: 900px;
      animation: cloudPainter 25s 15s linear infinite;
    }
  }
}

@keyframes headPainter {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(10deg) translateX(5px);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes handPainter {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes birdPainter {
  0% {
    transform: translateY(0);
  }
  1.5% {
    transform: translateY(-30px);
  }
  3% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes cloudPainter {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-950px);
  }
}

@media (max-width: 380px) {
  html {
    font-size: 16px;
    .navbar {
      padding: 18px 12px;
      &-brand img {
        max-width: 50%;
      }
      .menu {
        align-items: flex-end;
        .nav-item {
          padding: 0;
          display: flex;
          align-items: flex-end;
          flex-direction: column;
        }
      }
      .dropdown-menu {
        border: none;
      }
    }
  }

  .main-slide {
    right: 5%;
  }
}

@media (min-width: 381px) and (max-width: 768px) {
  html {
    font-size: 25px;
  }
}
@media (min-width: 769px) {
  html {
    font-size: 30px;
  }
}
