@font-face {
  font-family: "Stapel_CM";
  src: url("../../font/Stapel_Condensed_Medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTRootUIWebLight";
  src: url("../../font/PTRootUI_Light/PTRootUI_Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTRootUIWebMedium";
  src: url("../../font/PTRootUI_Medium/PTRootUI_Medium.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTRootUIWebRegular";
  src: url("../../font/PTRootUI_Regular/PTRootUI_Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTRootUIWebVF";
  src: url("../../font/PTRootUI_VF/PTRootUI_VF.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSansWebBold";
  src: url("../../font/PTSans_Bold/PTSans_Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSansWebCaptionBold";
  src: url("../../font/PTSans_CaptionBold/PTSans_CaptionBold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSansWebCaptionRegular";
  src: url("../../font/PTSans_CaptionRegular/PTSans_CaptionRegular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
