.form-contacts {
  padding: 70px 70px 0;
  &-title {
    position: relative;
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 60px;
  }
  &-field {
    position: relative;
    margin-bottom: 34px;
    display: flex;
    & label {
      display: block;
      width: 100%;
    }
    & input,
    & textarea {
      display: block;
      font-size: 20px;
      width: 100%;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid currentColor;
    }
    & button {
      margin: 30px auto 35px;
    }
  }
}
