@import "variables";
@import "partials/font";

.ticket {
  display: flex;
  flex-direction: column;
  padding: 40px 0 10px 0;
  background-color: rgba(168, 208, 219, .1);


  &-description {
    font-family: "PTRootUIWebRegular", "Arial", sans-serif;
    text-align: center;
    line-height: 1.2;
  }

  &-name,
  &-price {
    font-family: "PTSansWebCaptionBold", "Arial", sans-serif;
    text-align: center;
  }

  &-image {
    height: 40vh;
  }

}

